{{#partial "contenido"}}

 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">

   		<!-- Grid row -->
			<div class="container">
    			<div class="row">
        			<div class='col-sm-6'>
            			<div class="form-group">
                			<div class='input-group date' >
                				<label for="desde">Fecha de inicio del período</label>
                    			<input type='text' id="desde" name="desde" class="form-control" />
                    			<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    			</span>
                			</div>
            			</div>
        			</div>
    			</div>
			</div>

   		<!-- Grid row -->
			<div class="container">
    			<div class="row">
        			<div class='col-sm-6'>
            			<div class="form-group">
                			<div class='input-group date' >
                				<label for="hasta">Fecha de fin del período</label>
                    			<input type='text' id="hasta" name="hasta" class="form-control" />
                    			<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    			</span>
                			</div>

<div class="md-form">
  <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
  <label for="date-picker-example">Try me...</label>
</div>

            			</div>
        			</div>
    			</div>
			</div>



            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Domicilio</th>
			      <th scope="col">Consumo</th>
			    </tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>


        </div>
    </main>

    <script type="text/javascript">
            $(function () {
                $('#hasta').datepicker();
            });
    </script>


        <script type="text/javascript">
            $(function () {
                $('#desde').datepicker();
            });
    </script>


{{/partial}}

{{>layoutCliente.hbs}}



