{{#partial "contenido"}}
<script src="/js/consumo.js"></script>

<div class="container mt-5 pt-5">

<div class="row">
    <div class="col">
      Fecha de inicio 
  </div>
  <div class="col">
    <input type="text" id="date-picker-desde">
</div>
</div>

<div class="row">
    <div class="col">
      Fecha de fin
  </div>
  <div class="col">
    <input type="text" id="date-picker-hasta">
    </div>
</div>


<div class="row">
    <button class="btn btn-primary" id ="execute" type="submit">Buscar consumo</button>
</div>

<div class="row">
    <div id="resultados">
    </div>
</div>


</div>

{{/partial}}

{{>layoutCliente.hbs}}



