{{#partial "contenido"}}

<!--Main Layout-->
<main>
	<div class="container mt-5 pt-5">


		<div class="card card-cascade wider reverse my-4">
			<div class="card-body">

				<!--Header-->
				<div class="form-header primary-color">
					<h3><i class="fa fa-laptop"></i>Agregar Dispositivo</h3>
				</div>


				<form action="/sge/administrador/guardarDispositivoDetalle" method="POST" >

					<!-- Grid row -->
					<div class="form-row ">

						<!-- Default input -->
						<div class="form-group col-md-6">
							<label for="dispositivo_nombre">Nombre del dispositivo</label>

							<input type="text" class="form-control" id="dispositivo_nombre" placeholder="" name= "nombre">
						</div>


						<!-- Default input -->
						<div class="form-group col-md-6">
							<label for="dispositivo_descripcion">Descripción del dispositivo</label>

							<input type="text" class="form-control" id="dispositivo_descripcion" placeholder=""  name= "descripcion">
						</div>


						<!-- Grid row -->
						<!-- Default input -->
						<div class="form-group col-md-6">
							<label for="es_inteligente">Dispositivo inteligente</label>
							<select class="mdb-select md-form" id="es_inteligente" name= "esInteligente">
								<option value="0">No</option>
								<option value="1" selected>Si</option>
							</select>
						</div>

						<!-- Default input -->
						<div class="form-group col-md-6">
							<label for="es_esencial">Dispositivo esencial</label>
							<select class="mdb-select md-form" id="es_esencial" name= "esEsencial">
								<option value="0">No</option>
								<option value="1" selected>Si</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="es_esencial">Bajo consumo</label>
							<select class="mdb-select md-form" id="es_esencial" name= "consumo">
								<option value="0">No</option>
								<option value="1" selected>Si</option>
							</select>
						</div>


					</div>

					<label for="consumo_kwhora">Consumo de kW por hora</label>
					<input type="number" class="form-control" id="consumo_kwhora" placeholder="" name= "consumoKwHora">

					<label for="horas_minimas">Horas de uso mensuales mínimas</label>
					<input type="number" class="form-control" id="horas_minimas" placeholder="" name= "hsMensualMinimo">

					<label for="horas_maximas">Horas de uso mensuales maximas</label>
					<input type="number" class="form-control" id="horas_maximas" placeholder="" name= "hsMensualMaximo">


				<div class="text-center">
					<input type="submit" class="btn btn-primary" value="Crear">
				</div>

			</form>
			<!-- Default form group -->


		</div>
	</div>



</div>
</main>

{{/partial}}

{{>layoutAdministrador.hbs}}
