{{#partial "contenido"}}

 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">


            <div class="card card-cascade wider reverse my-4">
                <div class="card-body">

                    <!--Header-->
                    <div class="form-header primary-color">
                        <h3><i class="fa fa-laptop"></i>Agregar Dispositivo</h3>
                    </div>
    				

                    <form action="/sge/cliente/dispositivo" method="POST" >

                    	<!-- Grid row -->
						  <div class="form-row">
						    <!-- Default input -->
						    <div class="form-group col-md-6">
						      <label for="dispositivo_detalle">Dispisitivo</label>
				              <select class="mdb-select md-form" id="dispositivo_detalle" name="dispositivo_detalle">
				              	<option value="-1">(Seleccionar)</option>
				              	{{#each dispositivos}}
                				<option value="{{id}}" esInteligente="{{esInteligente}}">{{nombre}} {{descripcion}}</option>
                				{{/each}} 
           					  </select>
						    </div>
						    <!-- Default input -->
						    <div class="form-group col-md-6">
						      <label for="tipo">Tipo</label>
           					  <div class="form-check mb-3">
    							<input class="form-check-input" type="radio" id="tipo1" name="tipo" value="0" checked>
    							<label class="form-check-label" for="radio1">Estandar</label>
							  </div>

							  <div class="form-check mb-3">
    							<input class="form-check-input" type="radio" id="tipo2" name="tipo" value="1">
    							<label class="form-check-label" for="radio2">Inteligente</label>
							  </div>

						    </div>

						 </div>
						  <!-- Grid row -->

						  <!-- Grid row -->
						  <div class="form-group" id="horas_div">
					    	<label for="horas">Horas de uso por dia</label>
					    	<input type="number" class="form-control" id="horas" name="horas" placeholder="" >
						 </div>

						  <!-- Grid row
						  <div class="form-group" id="accionado_div" style="display: none;">
						    <label for="accionado">Accionado automático</label>
				            <select class="mdb-select md-form" id="accionado" name="accionado">
                				<option value="0">No</option>
                				<option value="1" selected>Si</option>
           					</select>
						  </div> -->
						  
						 <div class="text-center">
                        	<button class="btn btn-primary">Crear</button>
                    	</div>

					</form>
					<!-- Default form group -->


                </div>
            </div>



        </div>
    </main>
<script type="text/javascript" src="/js/dispositivosUsuarioCrear.js"></script>
{{/partial}}
{{>layoutCliente.hbs}}


