{{#partial "contenido"}}

<div class="container-fluid text-center pt-5 w-auto wider reverse">

	<!--Card-->
	<div class="card card-cascade wider reverse my-4">

		<!--Card image-->
		<div class="view overlay hm-white-slight">
			<div class="flex-center">
				<img src="/img/inicio.png?w=720" class="img-fluid" alt="Money">
			</div>
		</div>
		<!--/Card image-->

		<!--Card content-->
		<div class="card-body text-center">
			<!--Title-->
			<h4 class="card-title"><strong>Sistema de Gestión Energética</strong></h4>
			<h5 class="blue-text"><strong>Dise&ntilde;o de Sistemas</strong></h5>
			<p class="card-text">Bienvenido Usuario X</p>

		</div>
		<!--/.Card content-->
	</div>
   <!--/.Card-->

 </div>

{{/partial}}

{{>layout.hbs}}


