{{#partial "contenido"}}


    <!--Main Layout-->
    <main>


        <div class="container mt-5 pt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Dispositivos</th>
                    <th scope="col"> Se Paso de Consumo</th>
                    <th scope="col">Horas Maximas de uso para mantener eficiencia</th>
                   <!-- <th scope="col">Boton De Deteccion de Dispositivo</th>-->
                </tr>
                </thead>
                <tbody>
                {{#each resultados}}
                    <tr>
                        <td>{{dispositivo_id}}</td>
                        {{#if se_paso_de_cosumo}}
                           <td>Si</td>
                        {{else}}
                           <td>No</td>
                        {{/if}}
                        <td>{{horasQuePuedeConsumir}} hs</td>
                        <td>-</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </main>
    <script type="text/javascript" src="/js/dispositivosUsuario.js"></script>

{{/partial}}

{{>layoutCliente.hbs}}


