{{#partial "contenido"}}

 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">


            <div class="card card-cascade wider reverse my-4">
                <div class="card-body">

                    <!--Header-->
                    <div class="form-header primary-color">
                        <h3><i class="fa fa-laptop"></i>Agregar Dispositivo</h3>
                    </div>
    				

                    <form action="/login" method="POST" >

                    	<!-- Grid row -->
						  <div class="form-row">

						    <!-- Default input -->
						    <div class="form-group col-md-6">
						      <label for="dispositivo_nombre">Nombre del dispositivo</label>
						      <input type="text" class="form-control" id="dispositivo_nombre" placeholder="" >
						    </div>

						    <!-- Grid row -->

						    <!-- Default input -->
						    <div class="form-group col-md-6">
						      <label for="dispositivo_descripcion">Descripción del dispositivo</label>
						      <input type="text" class="form-control" id="dispositivo_descripcion" placeholder="" >
						    </div>


						    <!-- Grid row -->
						    <!-- Default input -->
						  <div class="form-group col-md-5">
						    <label for="es_inteligente">Dispositivo inteligente</label>
				            <select class="mdb-select md-form" id="es_inteligente">
                				<option value="0">No</option>
                				<option value="1" selected>Si</option>
           					</select>
						  </div>

						    </div>

						 </div>
						 
						    <!-- Default input -->
						  <div class="form-group col-md-5">
						    <label for="es_esencial">Dispositivo esencial</label>
				            <select class="mdb-select md-form" id="es_esencial">
                				<option value="0">No</option>
                				<option value="1" selected>Si</option>
           					</select>
						  </div>

						    </div>

						 </div>

						  <!-- Grid row -->
						  <div class="form-group col-md-4">
					    	<label for="horas_minimas">Horas de uso mensuales mínimas</label>
					    	<input type="number" class="form-control" id="horas_minimas" placeholder="" >
						 </div>

						 <!-- Grid row -->
						 <div class="form-group col-md-4">
					    	<label for="horas_maximas">Horas de uso mensuales maximas</label>
					    	<input type="number" class="form-control" id="horas_maximas" placeholder="" >
						 </div>


					</form>
					<!-- Default form group -->


                </div>
            </div>



        </div>
    </main>

<script type="text/javascript" src="/js/dispositivosDetalleCrear.js"> </script>

{{/partial}}

{{>layout.hbs}}


