<div class="container mt-5 pt-5 resultadoReporte">

  <div class="row">
    <div class="col">
      <h2>Consumo por transformador</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class = "table table-hover">
        <thead>
          <th scope="col">Id</th>
          <th scope="col">Coordenada: Longitud</th>
          <th scope="col">Coordenada: Latitud</th>
          <th scope="col">Consumo total</th>
        </thead>
        <tbody>
          {{#each consumoTransformadores}}
          <tr>
            <td>{{id}}</td>
            <td>{{longitud}}</td>
            <td>{{latitud}}</td>
            <td>{{consumoTotal}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>


</div>
