<div class="container mt-5 pt-5">

  <div class="row">
    <div class="col">
      Consumo de los Dispositivos Inteligentes
    </div>
    <div class="col">
      {{consumoInteligentes}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Consumo de los Dispositivos Esenciales
    </div>
    <div class="col">
      {{consumoEsenciales}}
  </div>


</div>
