<div class="container mt-5 pt-5">

  <div class="row">
    <div class="col">
      <h2>Consumo por tipo de dispositivo</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class = "table table-hover">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Consumo</th>
          </tr>
        </thead>
        <tbody>
          {{#each dispositivos}}
          <tr>
            <td>{{tipo}</td>
            <td>{{consumo}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>


</div>
