<div class="container mt-5 pt-5 resultadoReporte">

  <div class="row">
    <div class="col">
      Consumo de los Dispositivos Inteligentes
    </div>
    <div class="col">
      {{resultadoInteligentes}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Consumo de los Dispositivos Esenciales
    </div>
    <div class="col">
      {{resultadoEstandares}}
  </div>


</div>
