

<div class="container mt-5 pt-5 consumo_total">

<div class="row">
    <div class="col">
      Consumo total: 
  </div>
  <div class="col">
    <input type="text" id="consumo_total" value="{{total_consumo}}" disabled>
    </div>
</div>


</div>





