{{#partial "contenido"}}

 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">

   		<!-- Grid row -->
			<div class="container">
    			<div class="row">
        			<div class='col-sm-6'>
            			<div class="form-group">
                			<div class='input-group date' id='fecha_desde'>
                				<label for="fecha_desde">Fecha de inicio del período</label>
                    			<input type='text' class="form-control" />
                    			<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    			</span>
                			</div>
            			</div>
        			</div>
    			</div>
			</div>

   		<!-- Grid row -->
			<div class="container">
    			<div class="row">
        			<div class='col-sm-6'>
            			<div class="form-group">
                			<div class='input-group date' id='fecha_hasta'>
                				<label for="fecha_hasta">Fecha de fin del período</label>
                    			<input type='text' class="form-control" />
                    			<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    			</span>
                			</div>
            			</div>
        			</div>
    			</div>
			</div>



            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Domicilio</th>
			      <th scope="col">Consumo</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{{#each dispositivos}}

				    <tr>
				      <td>{{usuario.domicilio}}</td>
				      <td>{{consumoEnUnPeriodo(fechaDesde, fechaHasta)}}</td>
				    </tr>

				{{/each}}

			  </tbody>
			</table>


        </div>
    </main>

    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
    </script>


{{/partial}}

{{>layoutAdministrador.hbs}}


